# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [2]:
# Libraries
import pandas as pd
import numpy as np

# Challenge 1 - Index Functions

In this challenge, we will practice the advanced functions introduced in the lesson. However, before we start, we will load and evaluate our dataset. 

Load the dataset from Ironhack's database:
* db: `admissions predict`
* table: `admissions predict`

In [22]:
# your code here
adm=pd.read_csv('Admission_Predict.csv')

Remove trailing spaces at the end of the column names if there are any.

In [23]:
adm.rename(columns={'LOR ':'LOR','Chance of Admit ':'Chance of Admit'}, inplace=True)
adm.columns

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR', 'CGPA', 'Research', 'Chance of Admit'],
      dtype='object')

Let's evaluate the dataset by looking at the `head` function.

In [24]:
adm.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [25]:
adm.isnull()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
380,False,False,False,False,False,False,False,False,False
381,False,False,False,False,False,False,False,False,False
382,False,False,False,False,False,False,False,False,False
383,False,False,False,False,False,False,False,False,False
384,False,False,False,False,False,False,False,False,False

Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [26]:
adm.set_index('Serial No.', drop=False, inplace=True)
adm.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
Serial No.,,,,,,,,,
1,1,337,118,4,4.5,4.5,9.65,1,0.92
2,2,316,104,3,3.0,3.5,8.00,1,0.72
3,3,322,110,3,3.5,2.5,8.67,1,0.80
4,4,314,103,2,2.0,3.0,8.21,0,0.65
5,5,330,115,5,4.5,3.0,9.34,1,0.90

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [ ]:
adm['GRE Score'].count()

In [ ]:
adm['CGPA'].count()

Replace the index with an index comprised of two columns - `GRE Score` and `CGPA`. Remove the columns from the dataset as well. Make sure to use `inplace=True`.

In [ ]:
adm.reset_index(drop=True)
adm.set_index(['GRE Score', 'CGPA'], inplace=True)
adm.head()

Now change the index back to a sequence starting at zero using the `reset_index` function. Make sure to use `inplace=True`.

In [34]:
adm.reset_index(drop=True, inplace=True)
adm.head()

,Serial No.,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
0,1,118,4,4.5,4.5,1,0.92
1,2,104,3,3.0,3.5,1,0.72
2,3,110,3,3.5,2.5,1,0.80
3,4,103,2,2.0,3.0,0,0.65
4,5,115,5,4.5,3.0,1,0.90

# Challenge 2 - Advanced Functions

In this part of the lab, we would like to test complex conditions on the entire dataset at once. Let's start by finding the number of rows where the CGPA is higher than 9 and the student has conducted research.

In [ ]:
adm[(adm["CGPA"]>9)&(adm["Research"]==1)].shape[0]

Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [13]:
adm[(adm['CGPA']>9)&(adm['SOP']<3.5)].loc[:,"Chance of Admit"].mean()

,GRE Score,CGPA,TOEFL Score,University Rating,SOP,LOR,Research,Chance of Admit
28,338,9.40,118,4,3.0,4.5,1,0.91
62,327,9.02,114,3,3.0,3.0,0,0.61
64,318,9.22,109,3,3.5,4.0,1,0.68
99,326,9.05,112,3,3.5,3.0,1,0.74
102,338,9.46,117,4,3.5,4.5,1,0.91
123,326,9.10,112,3,3.5,3.0,1,0.84
132,318,9.12,109,1,3.5,3.5,0,0.78
140,326,9.11,114,3,3.0,3.0,1,0.83
170,319,9.04,110,3,3.5,3.5,0,0.82
217,324,9.01,111,4,3.0,3.0,1,0.82
231,325,9.04,114,3,3.5,3.0,1,0.76
239,316,9.00,99,2,2.5,3.0,0,0.70
311,326,9.14,116,3,3.5,4.0,1,0.81
356,324,9.22,110,3,3.5,3.0,1,0.89
380,324,9.04,110,3,3.5,3.5,1,0.82
381,325,9.11,107,3,3.0,3.5,1,0.84

We would like to create a deciding factor column for each student. We standardize several columns and then pick the most important factor from a lookup table. If the standardized value is above 0.8, the student will be accepted.

We will start by creating a standardized column for `CGPA`, `GRE Score` and `LOR`. We will name these columns `CGPA_std`, `GRE_std`, and `LOR_std` respecively.

Recall that standardizing a column is done by subtracting the mean of the column from all observations in the column and then dividing each observation in the column by the column's standard deviation.

In the cell below, write a standardization function (a function that takes a column as input and returns a standardized column as output). Make sure to use the `numpy` versions of mean and standard deviation.

In [37]:
def standardize(col):
    """
    This function takes a column from a dataframe 
    and returns a standardized column by subtracting the column's mean
    and dividing by the column's standard deviation.
    """
    
    return((col-col.mean())/col.std())

Now create the standardized columns `CGPA_std`, `GRE_std`, and `LOR_std` and add them to the `admissions` dataframe.

In [ ]:
adm["CGPA_std"] = standardize(adm["CGPA"])

In [ ]:
adm["GRE_std"] = standardize(adm["GRE Score"])

In [ ]:
adm["LOR_std"] = standardize(adm["LOR"])

In [ ]:
adm.head()

We will generate the decision choice at random using the code below. Please run the cell.

In [16]:
# Libraries
from random import choices

In [ ]:
std_columns = ['CGPA_std', 'GRE_std', 'LOR_std']

decision_choice = choices(std_columns, k=adm.shape[0])

Now create the deciding column using the `lookup` function. The lookup column is `decision_choice` found above. Call the column resulting from the lookup function `deciding_column` and add it to the `admissions` dataframe.

In [ ]:
adm['decision_choice'] = decision_choice
adm.head()

In [ ]:
adm["deciding_column"] = adm.apply(lambda x:x['GRE_std'] if x["decision_choice"]=='GRE_std' else x['LOR_std'] if x["decision_choice"] =='LOR_std' else x['CGPA_std'] if x["decision_choice"] == "CGPA_std" else np.nan,axis=1)

adm.head()

Create a column called `decision` in the `admissions` dataframe. Assign 1 to this column if the value of `deciding_column` is greater than 0.8 and 0 otherwise.

In [ ]:
adm['decision']=np.where(adm['deciding_column']>0.8, 1, 0)

How many applicants will be accepted to the program using the decision column? Compute the result below.

In [ ]:
adm[adm['decision']==1].count()

# Challenge 3 - Method Chaining

To increase our coding efficiency, let's make a number of changes to our dataframe in one line of code.

In the cell below, remove all non character symbols from the column names, replace all spaces in column names to underscores, and change all upper case characters to lower case. Assign these new column values to `admissions.columns`.

In [ ]:
adm.columns

In [ ]:
adm.rename(columns=lambda x: "".join(c for c in x if c.isalpha()).replace(' ','_').lower(), inplace=True)
adm.columns

In the cell below, give all student with a university rating of 4 or higher a 10 point boost on their GRE score and split the column into 4 bins using the `cut` function. Assign this new score to the variable `adjusted_gre`.

In [ ]:
row_index = adm[adm["universityrating"]>=4].loc[:,"grescore"].index

In [ ]:
adm.loc[row_index, "grescore"] +=10

In [ ]:
adm.head()

In [ ]:
adm["adjusted_gre"] = pd.cut(adm["grescore"],bins=4)

In [ ]:
adm.head()

In [ ]:
adm["adjusted_gre"].unique()